.box-login{
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
}

mat-card-content {
    padding-top: 30px;
}

.full-width {
    width: 100%;
  }

.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: #FFF;
}

.mat-card-title{
    text-align: center;
    padding-bottom: 15px;
    font-size: 24px;
}


.mat-flat-button.mat-primary{
    width: 100%;
}
