<form [formGroup]="formCadastroHotel" (ngSubmit)="onSubmit()">
  <div fxLayout="row wrap" fxLayoutAlign="start start">
    <div fxFlex="100" fxFlex.gt-sm="auto" fxLayoutAlign="start">
      <app-base-field (airportSelected)="f.airportIataCode.setValue($event.iatacode)" [value]="f.airportIataCode.value"
        [isDisabled]="isVisualizar" [showValidation]="f.airportIataCode.errors?.required" class="w-100">
      </app-base-field>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="auto" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-label>Cod. SAP:</mat-label>
        <input matInput type="text" formControlName="sapCode">
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="auto" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-label>Prioridade:</mat-label>
        <input matInput type="number" min="1" max="1000" formControlName="priority">
        <mat-error *ngIf="f.priority.errors?.required">Prioridade is required</mat-error>
        <mat-error *ngIf="f.priority.errors?.min">Prioridade Mínimo de {{f.priority.errors?.min.min}}.</mat-error>
        <mat-error *ngIf="f.priority.errors?.max">Prioridade Máxima de {{f.priority.errors?.max.max}}.</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start start">
    <div fxFlex="100" fxFlex.gt-sm="auto" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-label>Nome do Hotel:</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="f.name.errors?.required">Nome do Hotel is required</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="auto" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-label>Email:</mat-label>
        <input matInput type="text" formControlName="email">
        <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="auto" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-label>Telefone:</mat-label>
        <input matInput type="text" formControlName="phone" [showMaskTyped]="true" mask="(00) 0000-0000">
        <mat-error *ngIf="f.phone.errors?.required">Telefone is required</mat-error>
      </mat-form-field>
    </div>
    <!-- <div fxFlex="100" fxFlex.gt-sm="auto" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-label>Celular:</mat-label>
        <input matInput type="text" formControlName="celular" [showMaskTyped]="true" mask="(00) 00000-0000">
        <mat-error *ngIf="f.celular.errors?.required">Celular is required</mat-error>
      </mat-form-field>
    </div> -->
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start start">
    <div fxFlex="100" fxFlex.gt-sm="80" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-label>Endereço:</mat-label>
        <input matInput type="text" formControlName="address">
        <mat-error *ngIf="f.address.errors?.required">Endereço is required</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="auto" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-label>Distância (km):</mat-label>
        <input matInput type="number" formControlName="distance">
        <mat-error *ngIf="f.distance.errors?.required">Distância is required</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start start">
    <div fxFlex="100" fxFlex.gt-sm="auto" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-label>Refeição:</mat-label>
        <input matInput type="text" formControlName="mealPrice" prefix="R$ " thousandSeparator="." mask="separator.2">
        <mat-error *ngIf="f.mealPrice.errors?.required">Refeição is required</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="auto" fxLayoutAlign="start">
      <mat-form-field class="w-100 px">
        <mat-select placeholder="Serviços Especiais?" formControlName="accommodationProviderSpecialServices" multiple
          [compareWith]="compareServicesFn">
          <mat-option *ngFor="let service of specialServices" [value]="service">{{service.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="auto" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-select placeholder="Ativo:" formControlName="active">
          <mat-option [value]="true">Sim</mat-option>
          <mat-option [value]="false">Não</mat-option>
        </mat-select>
        <mat-error *ngIf="f.active.errors?.required">Ativo is required</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex="100" fxFlex.gt-sm="30" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-label>Limite Pax Quarto Compartilhado:</mat-label>
        <input matInput type="text" formControlName="maxPaxPerSharedRoom">
        <mat-error *ngIf="f.maxPaxPerSharedRoom.errors?.required">Max Pax Per Shared Room is required</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="20" fxLayoutAlign="end">
      <mat-form-field class="w-100 px ">
        <mat-select placeholder="Carta Padrão" formControlName="accommodationEmailTemplateId">
          <mat-option *ngFor="let email of modeloEmails" [value]="email.id">{{email.id + ' - ' +
            language[email.language]}}</mat-option>
          <!-- <mat-option value="portugues">2 - Português</mat-option>
          <mat-option value="espanhol">3 - Espanhol</mat-option> -->
        </mat-select>
        <mat-error *ngIf="f.accommodationEmailTemplateId.errors?.required">Oferece Translado is required</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start start">
    <div fxFlex="100" fxFlex.gt-sm="100" fxLayoutAlign="start">
      <mat-form-field class="w-100 px ">
        <mat-label>Texto Padrão:</mat-label>
        <textarea matInput rows=5 formControlName="freeText" maxRows=5
          placeholder="Campo para inserção de texto com orientações para utilização do voucher."></textarea>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="mt">
    <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center center">
      <button mat-raised-button color="secondary" (click)="location.back(); $event.preventDefault();">Voltar</button>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center center" *ngIf="!isVisualizar">
      <button type="submit" mat-raised-button color="primary">Salvar</button>
    </div>
  </div>
</form>